body {
	font-family: "Georgia",Times,serif;
}

#welcome-screen {
	display: block;
}

#main-screen {
	display: none;
}

.pull-right {
	float: right;
}

#register-form {
	display: none;
}

#toggler-header {
	cursor: pointer;	
}

#form-alert {
	font-size: 70%;
	text-align: center;
}

#main-space {
	margin-top: 80px;
	width: 400px;
	height: 530px;
	border: 5px solid #cfcfcf;
	border-radius: 5px;
}

.tab-description {
	text-align: center;
	font-size: 80%;
	border: 3px solid #cfcfcf;
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	top: -57.5px;
	cursor: pointer;
}

.tab-upper {
	margin-top: -60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.tab-upper-active {
	border-bottom-color: #ffffff;
	border-width: 5px;
	cursor: default;
}

.tab-right {
	margin-left: 400px;
	margin-top: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tab-right-active {
	border-left-color: #ffffff;
	border-width: 5px;
	cursor: default;
}